div {
    border-radius: 5px;
    margin: 5px;
     border: 1px solid black;
     line-height: 80%;
     padding: 2px;

}
.day p {
    margin: 0px;
}
.lists{
    width: 30%;
    float: left;
}
.load-meal{
    float: right;
}
.list-day{
    float: right;
}
 .active{
    color: red;

}
.day-listed{
    background-color:   #99e699;

}
.day-select{
    border: 3px solid blue;

}
.meal-pick{
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
   overflow: scroll;
}


.days{
    width: 30%;
    display: inline-block;


}


.meals{
    width: 30%;
    float: right;

}
